/* =================== show menu =================== */

.slideInRight {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* =================== close menu =================== */

.slideOutRight {
    animation-name: slideOutRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideOutRight {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* =================== show dropdown =================== */

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* =================== close dropdown =================== */

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}